<MudPaper Width="250px" Class="d-flex flex-column py-3" Style="height: 100vh;" Elevation="0">

    <div class="flex-grow-1">
        <MudNavMenu Bordered="true">
            <MudText Typo="Typo.h6" Class="px-4">FitnessApp</MudText>
            <MudDivider Class="my-2" />

            <MudNavLink Href="/dashboard">Dashboard</MudNavLink>
            <MudNavLink Href="/athletes">Atletas</MudNavLink>
            <MudNavLink Href="/billing" Disabled="true">Billing</MudNavLink>

            <MudNavGroup Title="Settings" Expanded="true">
                <MudNavLink Href="/users">Users</MudNavLink>
                <MudNavLink Href="/security">Security</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>
    </div>

    <MudNavMenu Bordered="true">
        <MudNavLink Href="/login">Login</MudNavLink>
    </MudNavMenu>

</MudPaper>